<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://bootswatch.com/3/sandstone/bootstrap.min.css" />
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Pic Share</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/feed">My Feed</a></li>
        <li><a href="/login">Login</a></li>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="glyphicon glyphicon-envelope"></a></li>
        </ul>
      </div>
  </nav>

  </body>
</html>
