{% extends "base.html" %} {% block title %} Upload {% endblock %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<div class="jumbotron">
  <div class="container" style="text-align:center">




  </div>
</div>

<div class="jumbotron">
  <div class="container">
<form class="form" method="POST" enctype="multipart/form-data" action="/upload">

  {{ form.hidden_tag() }}
  {{ wtf.form_field(form.image) }}
  {{ wtf.form_field(form.caption) }}


  <!-- Submit button -->

  <input class="btn btn-primary" type="submit" value="Upload">

  </form>
</div>
</div>


{% endblock %}
